:root {
    /* ============= PRINCIPAL COLORS ============= */
    --agave: #00758D;
    --black: #000000;
    --white: #FFFFFF;
    --gray: #747474;
    --selected: #428188;
    --line-gray: #919A9B;
    --tab-selected: #ACBCC0;
    --tabs-gray: #B0BDC1;
    --tabs-hover: #969C9C;
    --icons: #2A5156;
    --toast: #00333E;
    --html-back: #002027;

    /* ============= TRANSLUCENT COLORS ============= */
    --transparent-white: rgba(255, 255, 255, 0.5);
    --transparent-blue: rgba(217, 217, 217, 0.5);
    --transparent-gray: rgba(140, 146, 146, 0.5);
    --tr-medium-blue: rgba(217, 217, 217, 0.6);
    --tr-dark-blue: rgba(217, 217, 217, 0.95);
    --tr-status-pending: rgba(208, 175, 6, 0.25);
    --tr-status-approved: rgba(113, 153, 144, 0.25);
    --tr-status-rejected: rgba(169, 56, 53, 0.25);
    --tr-status-canceled: rgba(118, 180, 233, 0.25);
    --tr-date-range: rgba(66, 129, 136, 0.2);

    /* ============= GRADIENTS ============= */
    --background: linear-gradient(270deg,
        var(--agave) 25%,
        #005B6E 48%,
        #004553 68%,
        #00333E 84%,
        #002027 100%
    );
    --option-hover: linear-gradient(90deg,
        #002027 0%,
        #002A32 18%,
        #004C5B 53%,
        var(--agave) 100%
    );
    --button-send: linear-gradient(90deg, 
        #428188 0%,
        #112022 100%
    );
    --button-cancel: linear-gradient(90deg,
        #814141 0%,
        #3E1413 100%
    );
    --shine-hover: linear-gradient(120deg,
        transparent 30%,
        rgba(217, 217, 217, 0.6),
        transparent 70%
    );
    --option-bar: linear-gradient(180deg,
        var(--html-back),
        #005B6E
    );
}


/* ======================= CENTURY GOTHIC FONTS ======================= */
/* Thin */
@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_thinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

/* Light */
@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_lightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

/* Regular */
@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* SemiBold */
@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_semiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_boldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* ExtraBold */
@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_extraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

/* Black */
@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_blackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}


/* ============================== BASE ============================== */
* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'CenturyGothic';
}

::before,
::after { box-sizing: border-box; }

ul { list-style: none; }

button {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
}

input { border-width: 0em; }

a {
    display: block;
    color: inherit;
}

html { scroll-behavior: smooth; }


/* ============================== REUSABLE ============================== */
p,
h1,
h2,
h3,
h4,
h5 { font-family: 'CenturyGothic', sans-serif; }

::-webkit-scrollbar { width: 5px; }

::-webkit-scrollbar-track { background-color: transparent; }


/* ============================== TOAST ============================== */
.swal2-toast { 
    margin: 0.5em 0.5em 0 0 !important;
    padding: 0;
    transition: all 0.3s ease-out !important;
}

.swal2-toast.swal2-hide {
    opacity: 0 !important;
    transform: translateY(-20px) !important;
}

.swal2-toast div:where(.swal2-html-container) { margin: 0 !important; }

.swal2-popup.swal2-toast.colored-toast.swal2-show { padding: 0; }

.colored-toast {
    background-color: var(--toast) !important;
    font-family: 'CenturyGothic', sans-serif;
    border-radius: 30px !important;
    overflow: hidden;
}

.colored-toast .text {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--white);
    padding: 12px 30px 15px 0 !important;
    text-align: center;
}

.colored-toast p {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 0.7em;
}

.colored-toast span { font-size: 1.1rem; }

.agave-icon {
    height: 6.5em; 
    object-fit: contain; 
    transform: translateY(10px);
}


/* ============================== BODY ============================== */
body {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.background {
    position: relative;
    display: flex;
    align-items: center;
    width: 100vw;
    background-image: var(--background);
}


/* ============================== PHONE MENU ============================== */
.mobile-nav {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 10px 20px;
    background: transparent;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}

.mobile-nav::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--background);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    z-index: -1;
    pointer-events: none;
}

.mobile-nav.bar,
.mobile-nav.bar.scrolled { 
    background-image: none;
    box-shadow: none; 
}

.mobile-nav.scrolled {
    background-image: var(--background);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.mobile-nav.scrolled::before { opacity: 1; }

.mobile-nav.bar.scrolled::before { opacity: 0; }

.hamburger {
    display: none;
    position: static;
    top: auto;
    left: auto;
    cursor: pointer;
}

.hamburger input { display: none; }

.hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: var(--white);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom { stroke-dasharray: 12 63; }

.hamburger.active input:checked + svg { transform: rotate(-45deg); }

.hamburger.active input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}


/* ============================== OPTION BAR ============================== */
.option-bar {
    width: 21%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5em 0em;
}

.logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 1.4em;
}

.logo img { width: 100%; }

.logo .name {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 1.1em;
    color: var(--white);
}

.options,
.logout {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.7em;
    font-weight: 300;
    font-size: 1.3em;
    color: var(--white);
    padding-left: 0.9em;
}

.options .option,
.logout .option {
    display: flex;
    align-items: center;
    width: 105%;
    border-radius: 25px;
    padding: 0.4em 0.7em;
    gap: 0.4em;
    cursor: pointer;
    background-image: var(--option-hover);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 0% 100%;
    transition: background-size 0.7s ease-out;
}

.option.active,
.option:hover { background-size: 100% 100%; }
 
.option i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.option img {
    width: 18px;
    object-fit: contain;
}

.option .fa-plane-departure { font-size: 0.7em; }

.option .fa-clock-rotate-left,
.option .fa-arrow-right-from-bracket { font-size: 0.85em; }


/* ============================== CONTAINER ============================== */
.content-container {
    height: 100%;
    width: 90%;
    padding: 1.7em 1.5em 1.7em 2.2em;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--transparent-white);
    border-radius: 40px;
    padding: 2em 1.3em 0 1.3em;
    align-items: center;
    justify-content: flex-start;
    background-image: url('../images/Map.webp');
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center 70%;
}

.content-header {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0em 0.4em;
}

.titles .title {
    font-weight: 500;
    font-size: 3.3em;
}

.titles .subtitle {
    font-weight: 400;
    font-size: 1.3em;
}

.action-buttons {
    display: flex;
    gap: 0.9em;
}

.button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5em;
    margin-top: 1em;
    border-radius: 80px;
    color: var(--white);
    font-size: 0.95em;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}

.button:last-child { margin-right: 2em; }

.button.send {
    background-image: var(--button-send);
    width: 11em;
}

.button.cancel {
    background-image: var(--button-cancel);
    width: 12.5em;
}

.button:hover::before { animation: shine 1.5s ease-out infinite; }

.button::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: var(--shine-hover);
    top: 0;
    left: -100px;
    opacity: 0.6;
}

@keyframes shine {
    0% { left: -100px; }
    60% { left: 100%; }
    to { left: 100%; }
}

.button p {
    font-size: 1.5em;
    font-weight: 500;
}

.button.send i { margin-right: 0.5em; }

.button.cancel i { margin-right: 0.4em; }

.content-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85%;
}

.content-form {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--transparent-blue);
    border-radius: 20px;
    padding: 1.5em 0;
}

.first-column,
.second-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 1.5em;
}

.second-column .content { margin-bottom: 2.1em; }

.content:last-child { margin-bottom: 0.5em; }

.question {
    display: flex;
    width: 75%;
    justify-content: flex-start;
    margin-bottom: 0.5em;
}

.answer,
.datepicker {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    background-color: var(--tr-medium-blue);
    border-radius: 10px;
    padding: 0.5em 0.6em;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
}

.answer i { 
    color: var(--icons); 
    font-size: 1.1em;
}

.answer input {
    width: 100%;
    height: 100%;
    font-size: 0.9em;
    background-color: transparent;
    margin-left: 0.6em;
}

.answer input::placeholder { color: var(--black); }

.datepicker {
    display: flex;
    flex-direction: column;
    padding: 0.3em 0.6em 0.5em 0.6em;
}

.datepicker-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid var(--line-gray);
    font-weight: 500;
    font-size: 0.9em;
    padding-bottom: 0.1em;
    gap: 2em;
}

.date-header { display: flex; }

.date-header .month,
.date-header .year {
    cursor: pointer;
    padding: 0.3em 0.4em;
    border-radius: 5px;
}

.date-header .month:hover,
.date-header .year:hover { background-color: var(--tabs-gray); }

.days-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0.5em 0 0.3em 0;
    gap: 0.5em;
}

.days-header span { 
    font-size: 0.7em; 
    display: block;
}

.dates {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    text-align: center;
    color: var(--black);
    font-weight: 500;
    font-size: 0.7em;
    gap: 0.3em;
}

.date-cell.other-month { 
    color: var(--gray);
    cursor: default;
    pointer-events: none;
}

.date-cell { 
    position: relative;
    cursor: pointer;
    padding: 0.2em 0;
    border-radius: 5px;
    transition: background-color 0.2s ease, color 0.2s;
}

.date-cell:not(.other-month):hover { 
    background-color: var(--selected); 
    color: var(--white);
}

.date-cell.in-range { background-color: var(--tr-date-range); }

.date-cell.start,
.date-cell.end {
    background-color: var(--selected);
    color: var(--white);
    font-weight: 600;
}

.months-grid,
.years-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.8em;
    padding: 1em 0;
}

.month-item,
.year-item {
    text-align: center;
    padding: 0.5em 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.year-item:first-child,
.year-item:last-child { 
    color: var(--gray);
    cursor: default; 
    pointer-events: none;
}

.month-item:hover,
.year-item:not(:first-child):not(:last-child):hover {
    background-color: var(--selected);
    color: var(--white);
}
 
.answer.motive { 
    height: 6em; 
    align-items: flex-start;
}

.answer.motive textarea {
    width: 100%;
    height: 100%;
    line-height: 1.3;
    box-sizing: border-box;
    background: transparent;
    font-size: 0.9em;
    border: none;
    resize: none;
}

.answer.money .symbol {
    margin-left: 0.7em;
    font-weight: 500;
}

.answer.money input { margin-left: 0.3em; }

.answer .flags {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 0.4em;
    cursor: pointer;
}

.flags img,
.currency-option img,
.answer.payment img {
    width: 1.1em;
    height: 1.1em;
    border-radius: 50%;
    object-fit: cover;
}

.flags p { font-size: 0.9em; }

.flags i,
.payment-selector i { 
    color: var(--black);
    transform: translateY(0.2em);
}

.flags i { font-size: 0.6em; }

.currency-selector, 
.payment-selector {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.currency-selector,
.payment-selector {
    transition: all 0.3s ease;
    overflow: visible;
}

.currency-selector::after,
.payment-selector::after {
    content: '';
    position: absolute;
    top: -4px;
    left: -6px;
    right: -6px;
    bottom: -4px;
    background-color: var(--tabs-gray);
    border-radius: 5px;
    z-index: -2;
    opacity: 0;
    transform: scale(0.95);
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.currency-selector:hover::after { 
    opacity: 1; 
    transform: scale(1);
}

.currency-dropdown,
.payment-dropdown {
    position: absolute;
    background-color: var(--tr-dark-blue);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 20;
    display: none;
    min-width: 100%;
    width: max-content;
    white-space: nowrap;
}

.currency-dropdown {
    top: calc(100% + 0.56em);
    left: -0.6em;
    padding: 0.3em 0.4em;
}

.currency-dropdown.show,
.payment-dropdown.show { display: block; }

.currency-option,
.payment-option {
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.2s;
}

.currency-option { 
    gap: 0.5em;
    padding: 0.4em 0.8em;
}

.currency-option:hover,
.payment-option:hover { background-color: rgba(0, 0, 0, 0.1); }

.currency-option span { font-size: 0.9em; }

.payment-selector {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-left: 0.6em;
    font-weight: 500;
}

.payment-selector i { 
    font-size: 0.7em; 
    margin-right: 0.5em;
}

.payment-dropdown {
    top: calc(100% + 0.5em);
    left: -0.7em;
    width: 109%;
    padding: 0.4em 0.4em;
}

.payment-option { padding: 0.2em 0.8em; }

.agave-mobile { display: none; }


/* ============================== RESPONSIVIDAD ============================== */
/* Escritorios grandes (1920px) */
@media(min-width: 1801px) {
    /* TOAST */
    body.swal2-toast-shown .swal2-container { width: 680px !important; }

    .colored-toast p { font-size: 1.5em; }

    .colored-toast span { font-size: 1.4em; }

    .agave-icon { height: 7.5em; }

    /* OPTION BAR */
    .option-bar { padding: 7em 0; }

    .logo .name { font-size: 1.5em; }

    .options,
    .logout { 
        font-size: 1.6em; 
        gap: 0.7em;
    }

    .options .option,
    .logout .option {
        width: 100%;
        gap: 0.5em;
    }

    .option img { width: 25px; }

    .option .fa-plane-departure { font-size: 0.8em; }

    .option .fa-arrow-right-from-bracket { font-size: 0.9em; }

    /* CONTAINER */
    .content-container { padding: 2.5em 2em 2.5em 2.5em; }

    .container { 
        border-radius: 60px; 
        padding: 2em 1.7em 0 1.7em;
        background-size: 72% auto;
    }

    .titles .title { font-size: 4em; }

    .titles .subtitle { font-size: 1.6em; }

    .action-buttons { gap: 1.5em; }

    .button { font-size: 1.15em; }

    .button i { margin-right: 0.5em; }

    .button.send { width: 12em; }

    .button.cancel { width: 13.5em; }

    .question { font-size: 1.4em; }

    .answer { padding: 0.6em 0.7em; }

    .answer i { font-size: 1.3em; }

    .answer input,
    .answer.money .symbol,
    .datepicker-header,
    .answer.motive textarea,
    .payment-selector { font-size: 1.2em; }

    .datepicker-header button { font-size: 0.7em; }

    .days-header span,
    .dates { font-size: 0.9em; }

    .answer.motive { height: 8em; }

    .flags img,
    .currency-option img,
    .answer.payment img {
        width: 1.4em;
        height: 1.4em;
    }

    .flags p { font-size: 1.1em; }

    .flags i,
    .payment-selector i { font-size: 0.8em; }

    .currency-dropdown { top: calc(100% + 0.7em); }

    .currency-option span { font-size: 1em; }
}

/* Escritorios medianos (1440px + 1800px) */
@media(min-width: 1470px) and (max-width: 1800px) and (max-resolution: 1.5dppx) {
    /* TOAST */ 
    body.swal2-toast-shown .swal2-container { width: 530px !important; }

    .colored-toast p { font-size: 1.2em; }

    .colored-toast span { font-size: 1em; }

    .agave-icon { height: 7em; }

    /* OPTION BAR */
    .logo .name { font-size: 1.1em; }

    .options,
    .logout {
        font-size: 1.2em;
        gap: 0.6em;
    }

    .option img { width: 15px; }

    .option.fa-plane-departure,
    .option.fa-arrow-right-from-bracket { font-size: 0.9em; }

    /* CONTAINER */
    .titles .title { font-size: 2.9em; }

    .titles .subtitle { font-size: 1.2em; }

    .action-buttons { gap: 1.2em; }

    .button { font-size: 0.9em; }

    .question { font-size: 1em; }

    .answer input,
    .answer.money .symbol,
    .datepicker-header,
    .answer.motive textarea,
    .payment-selector { font-size: 0.85em; }

    .answer.destination i { font-size: 0.95em; }

    .answer.motive { height: 7em; }

    .payment-dropdown,
    .currency-dropdown { top: calc(100% + 0.54em); }

    .payment-dropdown { left: -1em; }

    .flags img,
    .currency-option img,
    .answer.payment img {
        width: 1em;
        height: 1em;
    }

    .flags p { font-size: 0.8em; }
}

@media(min-width: 1366px) and (max-width:1469px) {
    /* TOAST */
    body.swal2-toast-shown .swal2-container { width: 470px !important; }

    .colored-toast span { font-size: 0.95em; }

    .colored-toast p { font-size: 1em; }

    /* OPTION BAR */
    .logo .name { font-size: 1.1em; }

    .options,
    .logout { font-size: 1.2em; }

    .options img { 
        width: 17px;
        transform: translateY(5%); 
    }

    /* CONTAINER */
    .content-container { padding: 1.3em 1.2em 1.3em 1.5em; }

    .container { 
        background-size: 70% auto; 
        padding: 1.5em 1.3em 0 1.3em;
    }

    .content-form { padding: 1em 0; }

    .titles .title { font-size: 3em; }

    .titles .subtitle { font-size: 1.2em; }

    .button { font-size: 0.85em; }

    .second-column .content { margin-bottom: 1.5em; }

    .question { font-size: 0.9em; }

    .answer input,
    .answer.money .symbol,
    .datepicker-header,
    .answer.motive textarea,
    .payment-selector { font-size: 0.8em; }

    .answer.destination i { font-size: 0.9em; }

    .datepicker-header { font-size: 0.8em; }

    .days-header span { font-size: 0.65em; }

    .dates { font-size: 0.7em; }

    .answer.motive { height: 7em; }

    .payment-dropdown,
    .currency-dropdown { top: calc(100% + 0.52em); }

    .payment-dropdown { left: -1em; }

    .flags img,
    .currency-option img,
    .answer.payment img {
        width: 0.9em;
        height: 0.9em;
    }

    .currency-option span,
    .flags p { font-size: 0.8em; }
}

/* Laptops */
@media(min-width: 1251px) and (max-width: 1365px) {
    /* TOAST */ 
    body.swal2-toast-shown .swal2-container { width: 470px !important; }

    .colored-toast p { font-size: 1em; }

    .colored-toast span { font-size: 0.95em; }

    /* OPTION BAR */
    .logo .name { font-size: 1em; }

    .options,
    .logout { font-size: 1.1em; }

    .options img { 
        width: 15px;
        transform: translateY(5%); 
    }

    /* CONTAINER */
    .content-container { padding: 1.3em 1.2em 1.3em 1.5em; }

    .container { padding: 1em 1.3em 0 1.3em; }

    .content-form { padding: 1em 0; }

    .titles .title { font-size: 2.8em; }

    .titles .subtitle { font-size: 1.1em; }

    .action-buttons { gap: 1.3em; }

    .button { font-size: 0.7em; }

    .button.send i { margin-right: 0.6em; }

    .question,
    .answer.destination i { font-size: 0.85em; }

    .answer input,
    .answer.money .symbol,
    .datepicker-header,
    .answer.motive textarea,
    .payment-selector { font-size: 0.75em; }

    .datepicker-header { font-size: 0.8em; }

    .days-header span { font-size: 0.6em; }

    .dates { font-size: 0.65em; }

    .flags img,
    .currency-option img,
    .answer.payment img {
        width: 0.9em;
        height: 0.9em;
    }

    .currency-option span,
    .flags p { font-size: 0.7em; }
}

/* Laptops pequeñas (1024px - 1250px) */
@media(min-width: 1025px) and (max-width: 1250px) {
    /* TOAST */ 
    body.swal2-toast-shown .swal2-container { width: 390px !important; }

    .colored-toast p { font-size: 0.9em; }

    .colored-toast span { font-size: 0.9em; }

    .agave-icon { height: 6em; }

    /* OPTION BAR */
    .option-bar { width: 23%; }

    .logo { width: 97%; }

    .logo .name { font-size: 0.9em; }

    .options .option { width: 100%; }

    .options,
    .logout { 
        font-size: 1em;
        gap: 0.8em; 
    }

    .options .option,
    .options .logout { gap: 0.5em; }

    .option img { width: 14px; }

    /* CONTAINER */
    .content-container { padding: 1.5em 1em 1.5em 1.3em; }

    .container { 
        padding: 1em 1.3em 0 1.3em;
        background-size: 90% auto; 
    }

    .content-form { padding: 0.7em 0 1em; }

    .content,
    .content:last-child { margin-bottom: 1em; }

    .titles .title { font-size: 2.3em; }

    .titles .subtitle { font-size: 1.1em; }

    .action-buttons { gap: 0.5em; }

    .button { font-size: 0.7em; }

    .button:last-child { margin-right: 0; }

    .question { font-size: 0.8em; }

    .answer input,
    .answer.money .symbol,
    .datepicker-header,
    .answer.motive textarea,
    .payment-selector { font-size: 0.7em; }

    .answer.destination i { font-size: 0.8em; }

    .days-header span { font-size: 0.6em; }

    .dates { font-size: 0.6em; }

    .answer.motive { height: 5em; }

    .flags img,
    .currency-option img,
    .answer.payment img {
        width: 0.8em;
        height: 0.8em;
    }

    .currency-option span,
    .flags p { font-size: 0.65em; }

    .payment-dropdown { top: calc(100% + 0.65em); }
}

/* Tabletas */
@media (min-width: 766px) and (max-width: 1024px) {
    /* BODY */
    html { background-color: var(--html-back); }

    body { height: -webkit-fill-available; }

    ::-webkit-scrollbar-thumb { background-color: transparent; }

    /* OPTION BAR */
    .option-bar {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 50%;
        height: 100vh;
        background: var(--option-bar);
        z-index: 999;
        padding: 110px 30px;
        transform: translateX(-100%);
        transition: transform 0.4s ease;
        overflow-y: auto;
        box-shadow: 4px 0 20px rgba(0, 0, 0, 0.4);
        visibility: visible;
    }

    .option-bar.active { transform: translateX(0); }

    .hamburger { display: block; }

    .hamburger.active { background-image: none; }

    .logo { 
        padding: 0; 
        width: 70%;
    }

    .logo .name { font-size: 1.1em; }

    .options,
    .logout { 
        font-size: 1.5em;
        gap: 0.5em; 
    }

    .options .option,
    .logout .option { 
        width: 90%;
        gap: 0.6em; 
    }

    /* CONTENT */
    .background { flex-direction: column; }

    .content-container {
        padding: 70px 5px 100px;
        height: 100vh; 
        margin-top: 1em;
        overflow-y: auto;
    }

    .container {
        border-radius: 22px;
        padding: 1.3em 1.1em 0.5em 1.1em;
        height: auto;
    }

    .content-header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2em;
    }

    .titles {
        width: 100%;
        text-align: center;
    }

    .button,
    .button:last-child { margin: 0 0 3em 0; }

    .button.send i,
    .button.cancel i { 
        font-size: 0.85em;
        transform: translateY(-5%);
    }

    .button-create:hover::before { animation: shine 2.5s ease-out infinite; }

    /* CONTENT */
    .content-form { flex-direction: column; }

    .content,
    .content:last-child { margin-bottom: 2.3em; }

    .first-column,
    .second-column { width: 100%; }

    .question { 
        width: 90%;
        justify-content: center;
        text-align: center;
        font-size: 1em;
    }

    .answer,
    .datepicker { width: 90%; }

    .datepicker-header { font-size: 1em; }

    .dates { font-size: 0.9em; }

    .answer.motive { height: 9em; }
    
    .payment-dropdown { 
        width: 103%; 
        left: -7px;
    }

    .agave-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 3em;
    }

    .agave-mobile img { width: 70px; }
}

/* Móviles */
@media(max-width: 765px) {
    /* TOAST */
    .swal2-toast { margin: 0 !important; }

    .colored-toast .text { padding: 12px 15px 15px 0 !important; }

    .colored-toast p { font-size: 1em; }

    .colored-toast span { font-size: 0.9em; }

    .agave-icon { width: 5em; }

    /* BODY */
    html { background-color: var(--html-back); }

    body { height: -webkit-fill-available; }

    ::-webkit-scrollbar-thumb { background-color: transparent; }

    /* OPTION BAR */
    .option-bar {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 70%;
        height: 100vh;
        background: var(--option-bar);
        padding: 110px 30px 110px 20px;
        transform: translateX(-100%);
        transition: transform 0.4s ease;
        overflow-y: auto;
        box-shadow: 4px 0 20px rgba(0, 0, 0, 0.3);
        visibility: visible;
        z-index: 999;
    }

    .option-bar.active { transform: translateX(0); }

    .hamburger { display: block; }

    .hamburger.active { background-image: none; }

    .logo { padding-left: 0; }

    .logo .name { font-size: 1em; }

    .options,
    .logout {
        padding-left: 0;
        font-size: 1.2em;
        gap: 0.7em;
    }

    .options .option,
    .logout .option { 
        width: 100%;
        gap: 0.5em; 
        padding: 0.6em 0.7em;
    }

    .option img { 
        transform: translateY(-15%);
        width: 15px; 
    }

    /* CONTAINER */
    .background { flex-direction: column; }

    .content-container {
        width: 100%;
        padding: 70px 20px 80px;
        height: 100vh;
        margin-top: 1em;
        overflow-y: auto;
    }

    .container {
        border-radius: 20px;
        padding: 2em 1em 0 1em;
        height: auto;
        min-height: calc(100vh - 90px);
    }

    .content-header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.5em;
    }

    .titles {
        align-items: center;
        text-align: center;
        padding: 0;
    }

    .titles .title {
        font-size: 2.5em;
        font-weight: 600;
        margin-bottom: 0.3em;
    }

    .titles .subtitle {
        font-size: 1.1em;
        line-height: 1.5em;
    }

    .button,
    .button:last-child { margin: 0 0 3em 0; }

    .button { font-size: 0.7em; }

    .button.send i { margin-right: 0.6em; }
    .button.cancel i { margin-right: 0.5em; }

    .button:hover::before { animation: shine 2.5s ease-out infinite; }

    /* CONTENT */
    .content-form { flex-direction: column; }

    .content,
    .content:last-child { margin-bottom: 2.1em; }

    .first-column,
    .second-column { width: 100%; }

    .question { 
        width: 90%;
        justify-content: center;
        text-align: center;
        font-size: 0.95em; 
    }

    .answer { 
        width: 90%;
        font-size: 0.85em; 
    }

    .answer.destination i { font-size: 0.9em; }

    .answer.destination input,
    .payment-selector { transform: translateY(5%); }

    .datepicker { width: 90%; }

    .datepicker-header { font-size: 0.85em; }

    .days-header span { font-size: 0.6em; }

    .dates { font-size: 0.65em; }

    .flags img,
    .currency-option img,
    .answer.payment img {
        width: 1em;
        height: 1em;
    }

    .flags p { font-size: 0.75em; }

    .flags i { transform: translateY(-5%); }

    .agave-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 2.5em 0 0.6em;
    }

    .agave-mobile img { width: 50px; }
}