:root {
    /* ============= PRINCIPAL COLORS ============= */
    --agave: #00758D;
    --black: #000000;
    --white: #FFFFFF;
    --blue: #D9D9D9;
    --gray: #535353;
    --selected: #428188;
    --line-gray: #919A9B;
    --tab-selected: #ACBCC0;
    --tabs-gray: #A1AAAC;
    --tabs-hover: #969C9C;
    --icons: #2A5156;
    --toast: #00333E;
    --html-back: #002027;
    --table-top: #CED3D4;

    /* ============= TRANSLUCENT COLORS ============= */
    --tr-gray: rgba(145, 154, 155, 0.3);
    --transparent-white: rgba(255, 255, 255, 0.5);
    --transparent-blue: rgba(217, 217, 217, 0.5);
    --transparent-gray: rgba(140, 146, 146, 0.5);
    --transparent-agave: rgba(42, 81, 86, 0.1);
    --tr-medium-blue: rgba(217, 217, 217, 0.6); 
    --tr-selector-blue: rgba(217, 217, 217, 0.7); 
    --tr-dark-blue: rgba(217, 217, 217, 0.8);
    --tr-status-pending: rgba(208, 175, 6, 0.25);
    --tr-status-approved: rgba(113, 153, 144, 0.25);
    --tr-status-rejected: rgba(169, 56, 53, 0.25);
    --tr-status-canceled: rgba(118, 180, 233, 0.25);
    --tr-date-range: rgba(66, 129, 136, 0.2);

    /* ============= GRADIENTS ============= */
    --background: linear-gradient(270deg,
        var(--agave) 25%,
        #005B6E 48%,
        #004553 68%,
        #00333E 84%,
        #002027 100%
    );
    --option-hover: linear-gradient(90deg,
        #002027 0%,
        #002A32 18%,
        #004C5B 53%,
        var(--agave) 100%
    );
    --button-send: linear-gradient(90deg, 
        #428188 0%,
        #112022 100%
    );
    --button-cancel: linear-gradient(90deg,
        #814141 0%,
        #3E1413 100%
    );
    --button-hover: linear-gradient(90deg, 
        #428188 0%,
        #112022 100%
    );
    --shine-hover: linear-gradient(120deg,
        transparent 30%,
        rgba(217, 217, 217, 0.6),
        transparent 70%
    );
    --option-bar: linear-gradient(180deg,
        var(--html-back),
        #005B6E
    );
}


/* ======================= CENTURY GOTHIC FONTS ======================= */
/* Thin */
@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_thinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

/* Light */
@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_lightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

/* Regular */
@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* SemiBold */
@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_semiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_boldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* ExtraBold */
@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_extraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

/* Black */
@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_blackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}


/* ============================== BASE ============================== */
* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'CenturyGothic';
}

::before,
::after { box-sizing: border-box; }

ul { list-style: none; }

button {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
}

input { border-width: 0em; }

a {
    display: block;
    color: inherit;
}

html { scroll-behavior: smooth; }


/* ============================== REUSABLE ============================== */
p,
h1,
h2,
h3,
h4,
h5 { font-family: 'CenturyGothic', sans-serif; }

::-webkit-scrollbar { width: 5px; }

::-webkit-scrollbar-track { background-color: transparent; }


/* ============================== LOADER ============================== */
.loader-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.3);
    z-index: 9999;
    align-items: center;
    justify-content: center
}

.dot-spinner {
    --uib-size: 5em;
    --uib-speed: .9s;
    --uib-color: var(--white);
    height: var(--uib-size);
    width: var(--uib-size);
    position: relative;
}

.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dot-spinner__dot::before {
  content: '';
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot:nth-child(2) { transform: rotate(45deg); }

.dot-spinner__dot:nth-child(2)::before { animation-delay: calc(var(--uib-speed) * -0.875); }

.dot-spinner__dot:nth-child(3) { transform: rotate(90deg); }

.dot-spinner__dot:nth-child(3)::before { animation-delay: calc(var(--uib-speed) * -0.75); }

.dot-spinner__dot:nth-child(4) { transform: rotate(135deg); }

.dot-spinner__dot:nth-child(4)::before { animation-delay: calc(var(--uib-speed) * -0.625); }

.dot-spinner__dot:nth-child(5) { transform: rotate(180deg); }

.dot-spinner__dot:nth-child(5)::before { animation-delay: calc(var(--uib-speed) * -0.5); }

.dot-spinner__dot:nth-child(6) { transform: rotate(225deg); }

.dot-spinner__dot:nth-child(6)::before { animation-delay: calc(var(--uib-speed) * -0.375); }

.dot-spinner__dot:nth-child(7) { transform: rotate(270deg); }

.dot-spinner__dot:nth-child(7)::before { animation-delay: calc(var(--uib-speed) * -0.25); }

.dot-spinner__dot:nth-child(8) { transform: rotate(315deg); }

.dot-spinner__dot:nth-child(8)::before { animation-delay: calc(var(--uib-speed) * -0.125); }

@keyframes pulse0112 {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}


/* ============================== TOAST ============================== */
.swal2-toast { 
    margin: 0.5em 0.5em 0 0 !important;
    padding: 0;
    transition: all 0.3s ease-out !important;
}

.swal2-toast.swal2-hide {
    opacity: 0 !important;
    transform: translateY(-20px) !important;
}

.swal2-toast div:where(.swal2-html-container) { 
    margin: 0 !important;
    font-size: 1em; 
}

.swal2-popup.swal2-toast.colored-toast.swal2-show { padding: 0; }

.colored-toast {
    background-color: var(--toast) !important;
    font-family: 'CenturyGothic', sans-serif;
    border-radius: 30px !important;
    overflow: hidden;
}

.colored-toast .text {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--white);
    padding: 12px 30px 15px 0 !important;
    text-align: center;
}

.colored-toast p {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 0.7em;
}

.colored-toast span { font-size: 1rem; }

.agave-icon {
    height: 7em; 
    object-fit: contain; 
    transform: translateY(10px);
}


/* ============================== BODY ============================== */
body {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.background {
    position: relative;
    display: flex;
    align-items: center;
    width: 100vw;
    background-image: var(--background);
}


/* ============================== PHONE MENU ============================== */
.mobile-nav {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 10px 20px;
    background: transparent;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}

.mobile-nav::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--background);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    z-index: -1;
    pointer-events: none;
}

.mobile-nav.bar,
.mobile-nav.bar.scrolled { 
    background-image: none;
    box-shadow: none; 
}

.mobile-nav.scrolled {
    background-image: var(--background);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.mobile-nav.scrolled::before { opacity: 1; }

.mobile-nav.bar.scrolled::before { opacity: 0; }

.hamburger {
    display: none;
    position: static;
    top: auto;
    left: auto;
    cursor: pointer;
}

.hamburger input { display: none; }

.hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: var(--white);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom { stroke-dasharray: 12 63; }

.hamburger.active input:checked + svg { transform: rotate(-45deg); }

.hamburger.active input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}


/* ============================== OPTION BAR ============================== */
.option-bar {
    width: 18.9%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5em 0em;
}

.logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 1.4em;
}

.logo img { width: 100%; }

.logo .name {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 1em;
    color: var(--white);
}

.options,
.logout {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.7em;
    font-weight: 300;
    font-size: 1.2em;
    color: var(--white);
    padding-left: 0.9em;
}

.options .option,
.logout .option {
    display: flex;
    align-items: center;
    width: 105%;
    border-radius: 25px;
    padding: 0.4em 0.7em;
    gap: 0.4em;
    cursor: pointer;
    background-image: var(--option-hover);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 0% 100%;
    transition: background-size 0.7s ease-out;
}

.option.active,
.option:hover { background-size: 100% 100%; }
 
.option i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.option img {
    width: 17px;
    object-fit: contain;
}

.option .fa-plane-departure { font-size: 0.7em; }

.option .fa-clock-rotate-left,
.option .fa-arrow-right-from-bracket,
.option .fa-hand-holding-dollar { font-size: 0.85em; }


/* ============================== CONTAINER ============================== */
.content-container {
    height: 100%;
    flex: 1;
    min-width: 0;
    padding: 1.7em 1.5em 1.7em 2.2em;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--transparent-white);
    border-radius: 40px;
    padding: 2em 1.3em 0 1.3em;
    align-items: center;
    justify-content: flex-start;
    background-image: url('../images/Map.webp');
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center 70%;
    overflow: hidden;
}

.content-header {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0em 0.4em;
}

.titles .title {
    font-weight: 500;
    font-size: 3.1em;
}

.titles .subtitle {
    font-weight: 400;
    font-size: 1.2em;
}

.action-buttons {
    display: flex;
    gap: 0.9em;
}

.button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5em;
    margin-top: 0.7em;
    border-radius: 80px;
    color: var(--white);
    font-size: 0.93em;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}

.button:last-child { margin-right: 2em; }

.button.send {
    background-image: var(--button-send);
    width: 11em;
}

.button.cancel {
    background-image: var(--button-cancel);
    width: 12.5em;
}

.button.save {
    background-image: var(--button-send);
    width: 12.5em;
}

.button:hover::before { animation: shine 1.5s ease-out infinite; }

.button::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: var(--shine-hover);
    top: 0;
    left: -100px;
    opacity: 0.6;
}

@keyframes shine {
    0% { left: -100px; }
    60% { left: 100%; }
    to { left: 100%; }
}

.button p {
    font-size: 1.4em;
    font-weight: 500;
}

.button.send i,
.button.save i { margin-right: 0.5em; }

.button.cancel i { margin-right: 0.4em; }

.content-back {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-width: 0;
    height: 85%;
}

.tab-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tabs {
    display: flex;
    width: 100%;
    align-items: self-end;
    gap: 16px;
}

.tab {
    position: relative;
    background-color: var(--tabs-gray);
    border-radius: 20px 0 0 0;
    padding: 0.7em 0.3em 0.7em 1.5em;
    filter: drop-shadow(5px -3px 5px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.tab:first-child { z-index: 2; }
.tab:last-child { z-index: 1; }

.tab::after {
    content: '';
    position: absolute;
    background-color: var(--tabs-gray);
    top: 0;
    right: -20px;
    width: 50px;
    height: 100%;
    transform: skewX(36deg);
    z-index: -1;
}

.tab:hover,
.tab:hover::after { background-color: var(--tabs-hover); }

.tab.selected {
    background-color: var(--tab-selected);
    padding: 0.8em 0em 0.8em 2em;
    cursor: default;
    z-index: 10;
}

.tab.selected::after {
    background-color: var(--tab-selected);
    right: -26px;
}

.tab.factura.selected,
.tab.sn-factura.selected { margin-right: 9px; }

.tab p {
    font-size: 0.9em;
    font-weight: 500;
}

.tab.selected p {
    font-size: 1.1em;
    font-weight: 600;
}

.request {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 2.7em;
    background-color: var(--transparent-blue);
    border-radius: 10px;
    padding: 0.5em;
    margin-bottom: 1em;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
}

.request-selector {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: var(--tr-selector-blue);
    border-radius: 7px;
    cursor: pointer;
}

.request-back {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1em;
    padding: 0em 0.6em;
    transition: background-color 0.2s;
    gap: 0.8em;
}

.request-back i { color: var(--gray); }

.request-back .fa-angle-down { 
    margin-left: auto; 
    transform: translateY(10%);
}

.request-back p {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.request-dropdown {
    display: none;
    position: absolute;
    top: calc(100% + 0.5em);
    left: -2.5%;
    width: 105%;
    background-color: var(--transparent-blue);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 0.5em;
    z-index: 20;
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: auto;
    scrollbar-color: var(--icons) transparent;
}

.request-dropdown.show { display: block; }

.request-dropdown::-webkit-scrollbar { width: 6px; }

.request-dropdown::-webkit-scrollbar-track { background: transparent; }

.request-dropdown::-webkit-scrollbar-thumb {
    background-color: var(--icons);
    border-radius: 1em;
}

.request-option {
    padding: 0.5em;
    cursor: pointer;
    background-color: var(--tr-dark-blue);
    transition: background 0.2s;
    font-size: 0.85em;
    color: var(--black);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.request-option:first-child { border-radius: 7px 7px 0 0; }
.request-option:last-child { border-radius: 0 0 7px 7px; }

.request-option:hover { 
    background-color: var(--tr-gray);
    font-weight: 600; 
}

.content-form {
    width: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--transparent-blue);
    border-radius: 0 20px 20px 20px;
    padding: 1.5em;
    gap: 1.5em;
}

.factura-receipt,
.table-container {
    width: 100%;
    background-color: var(--tr-medium-blue);
    border-radius: 10px;
}

.factura-receipt {
    display: flex;
    flex-direction: column;
    min-width: 0;
    flex-shrink: 1;
}

.factura-content {
    display: flex;
    width: 100%;
    height: 13em;
}

.first-column,
.second-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.3em;
}

.receipt-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    border: 2px dashed var(--line-gray);
    border-radius: 10px;
    font-size: 0.9em;
    color: var(--line-gray);
    gap: 0.8em;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.receipt-container:hover { 
    border: 2px dashed var(--icons); 
    color: var(--icons);
    background-color: var(--transparent-agave);
}

.receipt-container i { font-size: 2.5em; }

.receipt-container.has-image {
    position: relative;
    cursor: pointer;
    color: var(--icons);
    background-color: var(--transparent-agave);
    border: 2px solid var(--icons); 
}

.receipt-container.has-image::after {
    content: "Seleccionar otro archivo";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--white);
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 10px;
    pointer-events: none;
}

.receipt-container.has-image:hover::after { opacity: 1; }

.receipt-container.dragover {
    border: 2px dashed var(--icons); 
    color: var(--icons);
    background-color: var(--transparent-agave);
    transition: all 0.2s ease;
}

.loader-receipt {
    width: 40px;
    height: 40px;
    border: 4px solid var(--line-gray);
    border-top: 4px solid var(--icons);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.factura-upload {
    align-self: flex-end;
    padding: 0 1.3em 1.3em 0;
}

.button-receipt {    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: var(--button-hover);
    border-radius: 70px;
    color: var(--white);
    padding: 0.3em 1.7em;
    font-size: 0.9em;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}

.button-receipt:hover::before { animation: shine 1.5s ease-out infinite; }

.button-receipt::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: var(--shine-hover);
    top: 0;
    left: -100%;
    opacity: 0.6;
}

.table-container {
    max-width: 100%;
    height: 9em;
    max-height: 9em;
    overflow: auto;
}

.table-container table {
    width: 100%;
    min-width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.table-head {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--table-top); 
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2); 
}

.table-head th,
.table-body td { border-right: 2px solid var(--line-gray); }

.table-body td { border-bottom: 1px solid var(--line-gray); }

.table-head th:last-child,
.table-body td:last-child { border-right: none; }

.table-body tr:last-child td { border-bottom: none; }

.table-head th {
    position: relative;
    font-size: 1em;
    font-weight: 600;
    padding: 0.3em 0.7em;
    text-align: center;
    white-space: wrap;
    user-select: none;
    overflow: hidden;
}

.table-head th .resize-handle {
    position: absolute;
    right: 0;
    top: 0;
    width: 3px;
    height: 100%;
    cursor: col-resize;
    user-select: none;
    z-index: 1;
}

.table-head th .resize-handle:hover,
.table-head th .resize-handle.resizing {
    background-color: var(--agave);
    opacity: 0.6;
}

.table-body td { 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.3em 0.7em;
    font-size: 0.9em; 
}

/* Anchos específicos */
.table-head th:nth-child(1),
.table-head th:nth-child(4) { width: 110px; }
.table-head th:nth-child(2),
.table-head th:nth-child(6) { width: 120px; }
.table-head th:nth-child(3),
.table-head th:nth-child(5) { width: 250px; }
.table-head th:nth-child(7),
.table-head th:nth-child(9),
.table-head th:nth-child(10) { width: 100px; }
.table-head th:nth-child(8) { width: 150px; }
.table-head th:nth-child(11) { width: 140px; }

.table-container::-webkit-scrollbar { 
    height: 8px; 
    width: 6.5px; 
}

.table-container::-webkit-scrollbar-thumb:horizontal {
    background-color: var(--icons);
    border-radius: 1em 1em 0 0;
}

.table-container::-webkit-scrollbar-track:horizontal { margin: 0 0 0 0.4em; }

.table-container::-webkit-scrollbar-thumb:vertical {
    background-color: var(--icons);
    border-radius: 1em 0 0 1em;
}

.table-container::-webkit-scrollbar-track:vertical { margin: 2em 0 0 0; }

.agave-mobile { display: none; }


/* ============================== RESPONSIVIDAD ============================== */
/* Escritorios grandes (1920px) */
@media(min-width: 1801px) {
    /* TOAST */
    body.swal2-toast-shown .swal2-container { width: 740px !important; }

    .colored-toast p { font-size: 1.5em; }

    .colored-toast span { font-size: 1.4em; }

    .agave-icon { height: 8em; }

    /* OPTION BAR */
    .option-bar { padding: 7em 0; }

    .logo .name { font-size: 1.5em; }

    .options,
    .logout { 
        font-size: 1.6em; 
        gap: 0.7em;
    }

    .options .option,
    .logout .option {
        width: 100%;
        gap: 0.5em;
    }

    .option img { width: 25px; }

    .option .fa-plane-departure { font-size: 0.8em; }

    .option .fa-arrow-right-from-bracket,
    .option .fa-hand-holding-dollar { font-size: 0.9em; }

    /* CONTAINER */
    .content-container { padding: 2.5em 2em 2.5em 2.5em; }

    .container { 
        border-radius: 60px; 
        padding: 2em 1.7em 0 1.7em;
        background-size: 72% auto;
    }

    .titles .title { font-size: 4em; }

    .titles .subtitle { font-size: 1.6em; }

    .action-buttons { gap: 1.5em; }

    .button { font-size: 1.15em; }

    .button i { margin-right: 0.5em; }

    .button.send { width: 12em; }

    .button.save,
    .button.cancel { width: 13.5em; }

    .tabs { gap: 20px; }

    .tab {
        border-radius: 25px 0 0 0;
        padding: 0.8em 0.6em 0.8em 2em;
    }

    .tab::after { right: -23px; }

    .tab.selected { padding: 1em 0.5em 1em 2.2em; }

    .tab p { font-size: 1.2em; }

    .table-head th { font-size: 1.3em; }

    .tab.selected p { font-size: 1.4em; }

    .request {
        height: 3em;
        border-radius: 13px;
        padding: 0.5em 0.6em; 
    }

    .request-back { font-size: 1.28em; }

    .request-option { font-size: 1.1em; }

    .content-form { border-radius: 0 25px 25px 25px; }

    .factura-content { height: 16em; }

    .receipt-container { font-size: 1.05em; }

    .button-receipt { font-size: 1.1em; }

    .table-container {
        max-height: 9em;
        height: 9em;
    }

    .table-body td { font-size: 1.2em; }

    .table-head th:nth-child(1),
    .table-head th:nth-child(10) { width: 120px; }
    .table-head th:nth-child(2) { width: 140px; }
    .table-head th:nth-child(3),
    .table-head th:nth-child(5) { width: 280px; }
    .table-head th:nth-child(4),
    .table-head th:nth-child(6),
    .table-head th:nth-child(9) { width: 130px; }
    .table-head th:nth-child(7) { width: 110px; }
    .table-head th:nth-child(8),
    .table-head th:nth-child(11) { width: 170px; }
}

/* Escritorios medianos (1440px + 1800px) */
@media(min-width: 1470px) and (max-width: 1800px) and (max-resolution: 1.5dppx) {
    /* TOAST */ 
    body.swal2-toast-shown .swal2-container { width: 590px !important; }

    .colored-toast p { font-size: 1.2em; }

    .colored-toast span { font-size: 1em; }

    .agave-icon { height: 7.5em; }

    /* OPTION BAR */
    .logo .name { font-size: 1.1em; }

    .options,
    .logout {
        font-size: 1.2em;
        gap: 0.6em;
    }

    .option img { width: 15px; }

    .option.fa-plane-departure,
    .option.fa-arrow-right-from-bracket { font-size: 0.9em; }

    /* CONTAINER */
    .container { background-size: 70% auto; }

    .titles .title { font-size: 2.9em; }

    .action-buttons { gap: 1.2em; }

    .button,
    .tab p { font-size: 0.9em; }

    .tab.selected p { font-size: 1.1em; }

    .request-back .fa-plane-departure {
        font-size: 0.95em;
        transform: translateY(10%);
    }

    .factura-content { height: 11.5em; }

    .factura-upload { padding: 0 1.3em 1.2em 0; }

    .table-container { 
        max-height: 8em;
        height: 8em;
    }
}

@media(min-width: 1366px) and (max-width:1469px) and (max-resolution: 1.5dppx) {
    /* TOAST */
    body.swal2-toast-shown .swal2-container { width: 520px !important; }

    .colored-toast span { font-size: 0.9em; }

    .colored-toast p { font-size: 1em; }

    /* OPTION BAR */
    .logo .name { font-size: 0.97em; }

    .options,
    .logout { font-size: 1.05em; }

    .options img { 
        width: 15px;
        transform: translateY(10%); 
    }

    .option .fa-plane-departure { font-size: 0.75em; }

    .option .fa-hand-holding-dollar,
    .option .fa-arrow-right-from-bracket { font-size: 0.9em; }

    /* CONTAINER */
    .content-container { padding: 1.3em 1.2em 1.3em 1.5em; }

    .container { 
        background-size: 70% auto; 
        padding: 1.5em 1.3em 0 1.3em;
    }

    .content { margin-bottom: 1.3em; }

    .content:last-child,
    .second-column .content:last-child { margin-bottom: 0; }

    .titles .title { font-size: 3em; }

    .titles .subtitle { font-size: 1.2em; }

    .button { font-size: 0.85em; }

    .tab { padding: 0.55em 0.3em 0.55em 1.5em; }

    .tab.selected { padding: 0.7em 0em 0.7em 1.5em; }

    .tab.selected p { font-size: 1em; }

    .request-back,
    .request-back i { font-size: 0.95em; }

    .request-option { font-size: 0.8em; }

    .table-head th { font-size: 0.95em }

    .table-body td { font-size: 0.8em }

    .factura-content { height: 10em; }

    .receipt-container { font-size: 0.8em; }

    .factura-upload { padding: 0 1.3em 1.1em 0; }

    .button-receipt { font-size: 0.8em; }

    .table-container { 
        max-height: 7.5em;
        height: 7.5em; 
    }
}

@media(min-width: 1281px) and (max-width: 1365px) and (max-resolution: 1.5dppx) {
    /* TOAST */ 
    body.swal2-toast-shown .swal2-container { width: 520px !important; }

    .colored-toast p { font-size: 1em; }

    .colored-toast span { font-size: 0.9em; }

    .agave-half { height: 12em; }

    /* OPTION BAR */
    .logo .name { font-size: 1em; }

    .options,
    .logout { font-size: 1.1em; }

    .options img { 
        width: 15px;
        transform: translateY(5%); 
    }

    /* CONTAINER */
    .content-container { padding: 1.3em 1.2em 1.3em 1.5em; }

    .container {
        background-size: 70% auto; 
        padding: 1em 1.3em 0 1.3em; 
    }

    .titles .title { font-size: 2.8em; }

    .titles .subtitle { font-size: 1.1em; }

    .action-buttons { gap: 1.3em; }

    .button { font-size: 0.8em; }

    .button.send i,
    .button-save i { margin-right: 0.6em; }

    .tab { padding: 0.55em 0.3em 0.55em 1.5em; }

    .tab.selected { padding: 0.7em 0em 0.7em 1.5em; }

    .tab p { font-size: 0.9em; }

    .tab.selected p { font-size: 0.95em; }

    .request { 
        height: 2.3em;
        padding: 0.4em; 
    }

    .request-back { font-size: 0.91em; }

    .request i { font-size: 0.9em; }

    .request-option { 
        font-size: 0.73em;
        padding: 0.4em; 
    }

    .content-form { padding: 1em; }

    .factura-content { height: 11em; }

    .button-receipt { font-size: 0.8em; }

    .table-head th { font-size: 0.9em; }

    .table-body td { font-size: 0.8em; }

    .table-container { 
        max-height: 7em;
        height: 7em;  
    }
}

/* Laptops pequeñas (1024px - 1250px) */
@media(min-width: 1025px) and (max-width: 1280px) {
    /* TOAST */ 
    body.swal2-toast-shown .swal2-container { width: 500px !important; }

    .colored-toast p { font-size: 1em; }

    .colored-toast span { font-size: 0.9em; }

    .agave-icon { height: 7.5em; }

    /* OPTION BAR */
    .option-bar { width: 20.3%; }

    .logo { width: 97%; }

    .logo .name { font-size: 0.9em; }

    .options .option { width: 100%; }

    .options,
    .logout { 
        font-size: 1em;
        gap: 0.8em; 
    }

    .options .option,
    .options .logout { gap: 0.5em; }

    .option img { width: 14px; }

    /* CONTAINER */
    .content-container { padding: 1.5em 1em 1.5em 1.3em; }

    .container { 
        padding: 1em 1.3em 0 1.3em;
        background-size: 75% auto; 
    }

    .titles .title { font-size: 2.3em; }

    .titles .subtitle { font-size: 1.1em; }

    .action-buttons { gap: 0.5em; }

    .button { font-size: 0.7em; }

    .button:last-child { margin-right: 0; }

    .tab { padding: 0.5em 0em 0.5em 1.5em; }

    .tab.selected { padding: 0.6em 0 0.6em 1.5em; }

    .tab p { font-size: 0.8em; }

    .tab.selected p { font-size: 0.95em; }

    .request {
        height: 2.3em;
        margin-bottom: 1.5em;
        padding: 0.4em;
    }

    .request-back { font-size: 0.9em; }

    .request-back i { font-size: 0.85em; }

    .request-dropdown { max-height: 150px; }

    .request-option {
        padding: 0.4em;
        font-size: 0.7em;
    }

    .content-form,
    .first-column,
    .second-column  { padding: 1em; }

    .content-form { gap: 1em; }

    .factura-content { height: 9em; }

    .receipt-container,
    .button-receipt { font-size: 0.75em; }

    .table-head th { font-size: 0.8em; }

    .table-body td { font-size: 0.7em; }

    .table-container { 
        max-height: 7em;
        height: 7em; 
    }
}

/* Tabletas */
@media (min-width: 766px) and (max-width: 1024px) {
    /* BODY */
    html { background-color: var(--html-back); }

    body { height: -webkit-fill-available; }

    ::-webkit-scrollbar-thumb { background-color: transparent; }

    /* OPTION BAR */
    .option-bar {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 50%;
        height: 100vh;
        background: var(--option-bar);
        z-index: 999;
        padding: 110px 30px;
        transform: translateX(-100%);
        transition: transform 0.4s ease;
        overflow-y: auto;
        box-shadow: 4px 0 20px rgba(0, 0, 0, 0.4);
        visibility: visible;
    }

    .option-bar.active { transform: translateX(0); }

    .hamburger { display: block; }

    .hamburger.active { background-image: none; }

    .logo { 
        padding: 0; 
        width: 70%;
    }

    .logo .name { font-size: 1.1em; }

    .options,
    .logout { 
        font-size: 1.5em;
        gap: 0.5em; 
    }

    .options .option,
    .logout .option { 
        width: 90%;
        gap: 0.6em; 
    }

    /* CONTENT */
    .background { flex-direction: column; }

    .content-container {
        width: 90%;
        flex: none;
        padding: 70px 5px 100px;
        height: 100vh; 
        margin-top: 1em;
        overflow-y: auto;
    }

    .container {
        border-radius: 22px;
        padding: 1.3em 1.1em 0.5em 1.1em;
        height: auto;
        overflow: visible;
    }

    .content-header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2em;
    }

    .titles {
        width: 100%;
        text-align: center;
    }

    .button,
    .button:last-child { margin: 0 0 3em 0; }

    .button.send i,
    .button.cancel i,
    .button.save i { 
        font-size: 0.85em;
        transform: translateY(-5%);
    }

    .button:hover::before { animation: shine 2.5s ease-out infinite; }

    /* CONTENT */
    .tab-header { 
        flex-direction: column-reverse; 
        gap: 1em; 
    }

    .tabs {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        padding-top: 25px;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
    }

    .tabs::-webkit-scrollbar { display: none }

    .tab { 
        padding: 0.5em 0.1em 0.5em 1.5em; 
        white-space: nowrap;
        flex-shrink: 0;
        transition: all 0.3s ease;
    }

    .tab::after { right: -21px; }

    .tab:first-child { z-index: 2; }
    .tab:last-child { z-index: 1; }

    .tab.selected { z-index: 10; }

    .request { 
        margin: 0;
        margin-left: auto;
        transform: translateY(90%);
    }

    .request-back input { font-size: 1.1em; }

    .request-option { font-size: 0.9em; }

    .content-form { flex-direction: column; }

    .content,
    .content:last-child { margin-bottom: 2.3em; }

    .factura-content { 
        display: flex;
        flex-direction: column;
        min-width: 0;
        flex-shrink: 1;
        height: auto;
        gap: 1.5em;
        padding: 1.5em;
    }

    .first-column,
    .second-column { 
        height: 15em; 
        padding: 0;
    }

    .factura-upload { 
        margin: auto;
        padding: 0 0 1.3em 0; 
    }

    .button-receipt { font-size: 1em; }
    
    .table-container {
        height: auto;
        max-height: none;
    }

    .table-body td {
        overflow: visible;
        text-overflow: clip;
        white-space: pre-wrap;
        padding: 0.5em 1em; 
    }

    .agave-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 3em;
    }

    .agave-mobile img { width: 70px; }
}

/* Móviles */
@media(max-width: 765px) {
    /* TOAST */
    .swal2-toast { margin: 0 !important; }

    .colored-toast .text { padding: 12px 15px 15px 0 !important; }

    .colored-toast p { font-size: 1em; }

    .colored-toast span { font-size: 0.9em; }

    .agave-icon { width: 5em; }

    /* BODY */
    html { background-color: var(--html-back); }

    body { height: -webkit-fill-available; }

    ::-webkit-scrollbar-thumb { background-color: transparent; }

    /* OPTION BAR */
    .option-bar {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 70%;
        height: 100vh;
        background: var(--option-bar);
        padding: 110px 30px 110px 20px;
        transform: translateX(-100%);
        transition: transform 0.4s ease;
        overflow-y: auto;
        box-shadow: 4px 0 20px rgba(0, 0, 0, 0.3);
        visibility: visible;
        z-index: 999;
    }

    .option-bar.active { transform: translateX(0); }

    .hamburger { display: block; }

    .hamburger.active { background-image: none; }

    .logo { padding-left: 0; }

    .logo .name { font-size: 1em; }

    .options,
    .logout {
        padding-left: 0;
        font-size: 1.2em;
        gap: 0.7em;
    }

    .options .option,
    .logout .option { 
        width: 100%;
        gap: 0.5em; 
        padding: 0.6em 0.7em;
    }

    .option img { 
        transform: translateY(-15%);
        width: 15px; 
    }

    /* CONTAINER */
    .background { flex-direction: column; }

    .content-container {
        width: 100%;
        padding: 70px 20px 80px;
        height: 100vh;
        margin-top: 1em;
        overflow-y: auto;
        flex: none;
    }

    .container {
        border-radius: 20px;
        padding: 2em 1em 0 1em;
        height: auto;
        min-height: calc(100vh - 90px);
    }

    .content-header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.5em;
    }

    .titles {
        align-items: center;
        text-align: center;
        padding: 0;
    }

    .titles .title {
        font-size: 2.5em;
        font-weight: 600;
        margin-bottom: 0.3em;
    }

    .titles .subtitle {
        font-size: 1.1em;
        line-height: 1.5em;
    }

    .button,
    .button:last-child { margin: 0 0 3em 0; }

    .button { font-size: 0.7em; }

    .button.send i,
    .button.save i { margin-right: 0.6em; }

    .button.cancel i { margin-right: 0.5em; }

    .button:hover::before { animation: shine 2.5s ease-out infinite; }

    /* CONTENT */
    .tab-header { 
        flex-direction: column-reverse;
        gap: 0em; 
    }    

    .tabs {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        padding-top: 15px;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
    }

    .tabs::-webkit-scrollbar { display: none }

    .tab { 
        padding: 0.5em 0.1em 0.5em 1.5em; 
        white-space: nowrap;
        flex-shrink: 0;
        transition: all 0.3s ease;
    }

    .tab::after { right: -21px; }

    .tab:first-child { z-index: 2; }
    .tab:last-child { z-index: 1; }

    .tab p { font-size: 0.9em; }

    .tab.selected { z-index: 10; }

    .tab.selected p { font-size: 1.2em; }

    .request { width: 100%; }

    .request-back i,
    .request-back input { font-size: 1.1em; }

    .request-option { font-size: 0.9em; }

    .content-form { 
        flex-direction: column;
        padding: 1.3em; 
    }

    .content,
    .content:last-child { margin-bottom: 2.1em; }

    .factura-content {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        padding: 1em;
        height: auto;
    }

    .first-column,
    .second-column { 
        padding: 0em;
        height: 10em;
    }

    .factura-upload {
        margin: auto;
        padding: 1em 0;
    }

    .table-container {
        max-height: none;
        height: auto;
    }

    .table-head { 
        text-align: center;
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3); 
    }

    .table-head th { 
        font-size: 1.1em;
        padding: 0.5em 0.7em; 
    }

    .table-body td {
        overflow: visible;
        text-overflow: clip;
        white-space: pre-wrap; 
        padding: 0.5em 1em; 
    }

    .agave-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 2.5em 0 0.6em;
    }

    .agave-mobile img { width: 50px; }
}