:root {
    /* ============= PRINCIPAL COLORS ============= */
    --agave: #00758D;
    --black: #000000;
    --white: #FFFFFF;
    --gray: #747474;
    --selected: #428188;
    --line-gray: #919A9B;
    --tab-selected: #ACBCC0;
    --tabs-gray: #B0BDC1;
    --tabs-hover: #969C9C;

    /* ============= TRANSLUCENT COLORS ============= */
    --transparent-white: rgba(255, 255, 255, 0.5);
    --transparent-blue: rgba(217, 217, 217, 0.5);
    --transparent-gray: rgba(140, 146, 146, 0.5);
    --tr-medium-blue: rgba(217, 217, 217, 0.6);
    --tr-dark-blue: rgba(217, 217, 217, 0.8);
    --tr-status-pending: rgba(208, 175, 6, 0.25);
    --tr-status-approved: rgba(113, 153, 144, 0.25);
    --tr-status-rejected: rgba(169, 56, 53, 0.25);
    --tr-status-canceled: rgba(118, 180, 233, 0.25);
    --tr-date-range: rgba(66, 129, 136, 0.2);

    /* ============= GRADIENTS ============= */
    --background: linear-gradient(270deg,
        var(--agave) 25%,
        #005B6E 48%,
        #004553 68%,
        #00333E 84%,
        #002027 100%
    );
    --option-hover: linear-gradient(90deg,
        #002027 0%,
        #002A32 18%,
        #004C5B 53%,
        var(--agave) 100%
    );
    --button-send: linear-gradient(90deg, 
        #428188 0%,
        #112022 100%
    );
    --button-cancel: linear-gradient(90deg,
        #814141 0%,
        #3E1413 100%
    );
    --shine-hover: linear-gradient(120deg,
        transparent 30%,
        rgba(217, 217, 217, 0.6),
        transparent 70%
    );
}


/* ======================= CENTURY GOTHIC FONTS ======================= */
/* Thin */
@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_thinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

/* Light */
@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_lightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

/* Regular */
@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* SemiBold */
@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_semiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_boldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* ExtraBold */
@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_extraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

/* Black */
@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_blackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}


* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'CenturyGothic';
}

::before,
::after { box-sizing: border-box; }

ul { list-style: none; }

button {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
}

input { border-width: 0em; }

a {
    display: block;
    color: inherit;
}


/* ============================== REUSABLE ============================== */
p,
h1,
h2,
h3,
h4,
h5 { font-family: 'CenturyGothic', sans-serif; }


/* ============================== BODY ============================== */
body {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.background {
    position: relative;
    display: flex;
    align-items: center;
    width: 100vw;
    background-image: var(--background);
}


/* ============================== OPTION BAR ============================== */
.option-bar {
    width: 21%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5em 0em;
}

.logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 1.4em;
}

.logo img { width: 100%; }

.logo .name {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 1.1em;
    color: var(--white);
}

.options,
.logout {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    font-weight: 300;
    font-size: 1.3em;
    color: var(--white);
    padding-left: 0.9em;
}

.options .option,
.logout .option {
    display: flex;
    align-items: center;
    width: 105%;
    border-radius: 25px;
    padding: 0.4em 0.7em;
    gap: 0.4em;
    cursor: pointer;
    background-image: var(--option-hover);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 0% 100%;
    transition: background-size 0.7s ease-out;
}

.option:hover { background-size: 100% 100%; }
 
.option i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.option img {
    width: 18px;
    object-fit: contain;
}

.option .fa-plane-departure { font-size: 0.7em; }

.option .fa-clock-rotate-left,
.option .fa-arrow-right-from-bracket { font-size: 0.85em; }


/* ============================== CONTAINER ============================== */
.content-container {
    height: 100%;
    width: 100%;
    padding: 2.2em;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--transparent-white);
    border-radius: 40px;
    padding: 2em;
    align-items: flex-start;
    position: relative;
    background-image: url('../images/Map.webp');
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center 70%;
}

.content-header {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0em 0.4em;
}

.titles .title{
    font-weight: 500;
    font-size: 3.4em;
}

.titles .subtitle {
    font-weight: 400;
    font-size: 1.35em;
}

.action-buttons {
    display: flex;
    gap: 0.8em;
}

.button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5em;
    margin-top: 1em;
    border-radius: 80px;
    color: var(--white);
    font-size: 0.9em;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}

.button:last-child { margin-right: 2em; }

.button.send {
    background-image: var(--button-send);
    width: 11em;
}

.button.cancel {
    background-image: var(--button-cancel);
    width: 12.5em;
}

.button:hover::before { animation: shine 1.5s ease-out infinite; }

.button::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: var(--shine-hover);
    top: 0;
    left: -100px;
    opacity: 0.6;
}

@keyframes shine {
    0% { left: -100px; }

    60% { left: 100%; }

    to { left: 100%; }
}

.button p {
    font-size: 1.5em;
    font-weight: 500;
}

.button.send i { margin-right: 0.5em; }

.button.cancel i { margin-right: 0.4em; }

.content-table {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 2.5em;
    background-color: var(--transparent-blue);
    border-radius: 20px;
    padding: 1.5em 0;
}

.first-column,
.second-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 1.5em;
}

.second-column .content { margin-bottom: 2.1em; }

.content:last-child { margin-bottom: 0.5em; }

.question {
    display: flex;
    width: 75%;
    justify-content: flex-start;
    margin-bottom: 0.5em;
}

.answer,
.datepicker {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    background-color: var(--tr-medium-blue);
    border-radius: 10px;
    padding: 0.5em 0.6em;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
}

.answer i { 
    color: var(--icons); 
    font-size: 1.1em;
}

.answer input {
    width: 100%;
    height: 100%;
    font-size: 0.9em;
    background-color: transparent;
    margin-left: 0.6em;
}

.answer input::placeholder { color: var(--black); }

.datepicker {
    display: flex;
    flex-direction: column;
    padding: 0.3em 0.6em 0.5em 0.6em;
}

.datepicker-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid var(--line-gray);
    font-weight: 500;
    font-size: 0.9em;
    padding-bottom: 0.1em;
    gap: 2em;
}

.datepicker-header button { transform: translateY(2px); }

.date-header { display: flex; }

.date-header .month,
.date-header .year {
    cursor: pointer;
    padding: 0.3em 0.4em;
    border-radius: 5px;
}

.date-header .month:hover,
.date-header .year:hover {
    background-color: var(--tabs-gray);
}

.days-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0.5em 0 0.3em 0;
    gap: 0.5em;
}

.days-header span { 
    font-size: 0.7em; 
    display: block;
}

.dates {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    text-align: center;
    color: var(--black);
    font-weight: 500;
    font-size: 0.7em;
    gap: 0.3em;
}

.date-cell.other-month { 
    color: var(--gray);
    cursor: default;
}

.date-cell { 
    position: relative;
    cursor: pointer;
    padding: 0.2em 0;
    border-radius: 5px;
    transition: background-color 0.2s ease, color 0.2s;
}

.date-cell:not(.other-month):hover { 
    background-color: var(--selected); 
    color: var(--white);
}

.date-cell.in-range {
    background-color: var(--tr-date-range);
    border-radius: 0;
}

.date-cell.start,
.date-cell.end {
    background-color: var(--selected);
    color: var(--white);
    font-weight: 600;
}

.month-selector,
.year-selector { display: none; }

.answer.motive { 
    height: 6em; 
    align-items: flex-start;
}

.answer.motive textarea {
    width: 100%;
    height: 100%;
    line-height: 1.3;
    box-sizing: border-box;
    background: transparent;
    font-size: 0.9em;
    border: none;
    resize: none;
}

.answer.money .symbol {
    margin-left: 0.7em;
    font-weight: 500;
}

.answer.money input { margin-left: 0.3em; }

.answer .flags {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 0.4em;
    cursor: pointer;
}

.flags img,
.currency-option img {
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;
    object-fit: cover;
}

.flags p { font-size: 0.9em; }

.flags i,
.payment-selector i { 
    color: var(--black);
    transform: translateY(0.2em);
}

.flags i { font-size: 0.6em; }

.currency-selector, 
.payment-selector {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.currency-dropdown,
.payment-dropdown {
    position: absolute;
    background-color: var(--tr-dark-blue);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
    display: none;
    min-width: 100%;
    width: max-content;
    white-space: nowrap;
}

.currency-dropdown {
    top: calc(100% + 0.56em);
    left: -0.6em;
    padding: 0.3em 0.4em;
}

.currency-dropdown.show,
.payment-dropdown.show { display: block; }

.currency-option,
.payment-option {
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.2s;
}

.currency-option { 
    gap: 0.5em;
    padding: 0.4em 0.8em;
}

.currency-option:hover,
.payment-option:hover { background-color: rgba(0, 0, 0, 0.1); }

.currency-option span { font-size: 0.9em; }

.answer.payment img {
    width: 1.1em;
    height: 1.1em;
    border-radius: 50%;
    object-fit: cover;
}

.payment-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-left: 0.6em;
    font-weight: 500;
}

.payment-selector i { 
    font-size: 0.7em; 
    margin-right: 0.5em;
}

.payment-dropdown {
    top: calc(100% + 0.5em);
    left: -0.7em;
    width: 109%;
    padding: 0.4em 0.4em;
}

.payment-option { padding: 0.2em 0.8em; }