:root {
    /* ============= PRINCIPAL COLORS ============= */
    --agave: #00758D;
    --black: #000000;
    --white: #FFFFFF;
    --red: #D65B5B;
    --green: #97BD13;
    --yellow: #C9C867;
    --graphs: #2A5156;
    --gray: #919A9B;

    /* ============= TRANSLUCENT COLORS ============= */
    --transparent-white: rgba(255, 255, 255, 0.5);
    --transparent-blue: rgba(217, 217, 217, 0.5);

    /* ============= GRADIENTS ============= */
    --background: linear-gradient(270deg,
        var(--agave) 25%,
        #005B6E 48%,
        #004553 68%,
        #00333E 84%,
        #002027 100%
    );
    --option-hover: linear-gradient(90deg,
        #002027 0%,
        #002A32 18%,
        #004C5B 53%,
        var(--agave) 100%
    );
    --pending: linear-gradient(90deg,
        rgb(255, 255, 199, 0.5) 5%,
        rgb(229, 215, 78, 0.5) 42%,
        rgb(212, 189, 0, 0.5) 100%
    );
    --approved: linear-gradient(90deg,
        rgb(221, 249, 176, 0.5) 5%,
        rgb(176, 218, 108, 0.5) 42%,
        rgb(126, 161, 7, 0.5) 100%
    );
    --rejected: linear-gradient(90deg,
        rgb(224, 172, 172, 0.5) 5%,
        rgb(232, 120, 120, 0.5) 42%,
        rgb(185, 16, 16, 0.5) 100%
    );
}

/* ======================= CENTURY GOTHIC FONTS ======================= */
/* Thin */
@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_thinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

/* Light */
@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_lightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

/* Regular */
@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* SemiBold */
@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_semiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_boldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* ExtraBold */
@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_extraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

/* Black */
@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/cg_blackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}


/* ============================== BASE ============================== */
* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'CenturyGothic';
}

::before,
::after { box-sizing: border-box; }

ul { list-style: none; }

button {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
}

input { border-width: 0em; }

a {
    display: block;
    color: inherit;
}

html { scroll-behavior: smooth; }


/* ============================== REUSABLE ============================== */
p,
h1,
h2,
h3,
h4,
h5 { font-family: 'CenturyGothic', sans-serif; }

::-webkit-scrollbar { width: 5px; }

::-webkit-scrollbar-track { background-color: transparent; }

/*::-webkit-scrollbar-thumb { background-color: var(); } */


/* ============================== BODY ============================== */
body {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.background {
    position: relative;
    display: flex;
    align-items: center;
    width: 100vw;
    background-image: var(--background);
}


/* ============================== OPTION BAR ============================== */
.option-bar {
    width: 21%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5em 0em;
}

.logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 1.4em;
}

.logo img { width: 100%; }

.logo .name {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 1.1em;
    color: var(--white);
}

.options,
.logout {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    font-weight: 300;
    font-size: 1.3em;
    color: var(--white);
    padding-left: 0.9em;
}

.options .option,
.logout .option {
    display: flex;
    align-items: center;
    width: 105%;
    border-radius: 25px;
    padding: 0.4em 0.7em;
    gap: 0.4em;
    cursor: pointer;
    background-image: var(--option-hover);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 0% 100%;
    transition: background-size 0.7s ease-out;
}

.option:hover { background-size: 100% 100%; }

.option i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.option img {
    width: 18px;
    object-fit: contain;
}

.option .fa-plane-departure { font-size: 0.7em; }

.option .fa-clock-rotate-left,
.option .fa-arrow-right-from-bracket { font-size: 0.85em; }


/* ============================== CONTAINER ============================== */
.content-container {
    height: 100%;
    width: 90%;
    padding: 1.7em 1.5em 1.7em 2.2em;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--transparent-white);
    border-radius: 40px;
    padding: 1em 1.3em;
    align-items: flex-start;
    justify-content: center;
    background-image: url('../images/Agave.webp');
    background-size: 43% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.content-header {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0em 0.4em;
}

.titles .title{
    font-weight: 500;
    font-size: 3.4em;
}

.titles .subtitle {
    font-weight: 400;
    font-size: 1.35em;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 1.7em;
    gap: 1.7em;
}

.cards {
    display: flex;
    align-items: center;
    width: 100%;
    height: 18%;
    gap: 2.2em;
}

.card-wrapper {
    position: relative;
    width: 24%;
    height: 100%;
    padding: 0.5em;
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.card-background {
    position: absolute;
    background-color: var(--transparent-blue);
    width: 93%;
    height: 85%;
    top: 7%;
    left: 3.5%;
    border-radius: 10px;
    z-index: 1;
}

.card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    z-index: 3;
}

.card.pending-card { background-image: var(--pending); }

.card.approved-card { background-image: var(--approved); }

.card.rejected-card { background-image: var(--rejected); }

.card-text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    color: var(--black);
    z-index: 5;
}

.card-text p { font-weight: 600; }

.card-text .rejected-number,
.card-text .approved-number,
.card-text .pending-number { 
    display: flex;
    gap: 0.2em;
    font-size: 3em;
    font-weight: 500;
    line-height: 1em;
}

.card-text span i { 
    font-size: 0.6em; 
    border-radius: 9999px;
    padding: 0.2em;
    transform: translateY(-15%);
}

.pending-number span i { background-color: var(--yellow); }

.approved-number span i { background-color: var(--green); }

.rejected-number span i { background-color: var(--red); }

.graphs {
    display: flex;
    width: 100%;
    height: 100%;
    padding-bottom: 1em;
}

.graph-back {
    position: relative;
    background-color: var(--transparent-blue);
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    padding: 0.7em;
}

.graph-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--transparent-blue);
    border-radius: 10px;
}

.graph-back.status {
    width: 27%;
    height: 100%;
    overflow: visible !important;
    z-index: 10;
}

.graph-back.status .graph-wrapper { 
    justify-content: space-between;
    padding: 1em 0;
    overflow: visible !important; 
}

.graph-back.status .graph-wrapper p { font-size: 1.1em; }

.graph-wrapper p { font-weight: 600; }

.chartst-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
    gap: 0.6em; 
}

.chartst-container canvas { 
    flex: 1;
    max-width: 70% !important;
    height: auto !important;
}

.prev,
.next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.1em;
    height: 1.1em;
    border-radius: 999px;
    background-color: var(--graphs);
    color: var(--white);
    cursor: pointer;
    z-index: 5;
}

.prev.status-button,
.next.status-button {
    height: 1.3em;
    width: 1.3em;
}

.prev.disabled,
.next.disabled { 
    background-color: var(--gray);
    cursor: default;
    pointer-events: none;
}

.prev i,
.next i { font-size: 0.7em; }

.prev.status-button i,
.next.status-button i { font-size: 0.8em; }

.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
    pointer-events: none;
}

.center-text .year {
    display: block;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1;
}

.center-text .month {
    display: block;
    font-size: 0.8em;
    font-weight: 600;
}

.legend {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 0.5em;
}

.legend-item {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 1em;
}

.color-dot {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: 0.5em;
}

.color-dot.pending { background-color: var(--yellow); }

.color-dot.approved { background-color: var(--green); }

.color-dot.rejected { background-color: var(--red); }

.color-dot::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    border: 1.5px solid var(--black);
    width: 90%;
    height: 90%;
    bottom: 2px;
    right: 5px;
}

.dots {
    flex: 1;
    border-bottom: 1.5px dotted var(--black);
    align-self: flex-end;
    margin: 0 4px 5px 4px;
}

.month-requests {
    display: flex;
    flex-direction: column;
    width: 47%;
    gap: 1em;
    padding: 0 1.2em;
}

.graph-back.requests,
.graph-back.expenses {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.graph-back.requests,
.graph-back.expenses { font-size: 0.9em; }

.graph-back.requests .graph-wrapper,
.graph-back.expenses .graph-wrapper { padding: 0em 0.5em; }

.graph-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1em;
}

.chart-container {
    width: 100%;
    height: 80%;
}

.graph-back.total {
    width: 26%;
    height: 40%;
    z-index: 2;
}

.graph-back.total .graph-wrapper p { font-size: 1.1em; }

.graph-back.total .graph-wrapper .graph-desc .total-month { font-size: 0.8em; }

.prev.total-button,
.next.total-button { 
    width: 1.1em; 
    height: 1.1em; 
}

.prev.total-button i,
.next.total-button i { font-size: 0.6em; }

.graph-back.total .graph-wrapper .total-money {
    font-size: 3em;
    font-weight: 400;
    margin-top: 0.1em;
}

.agave {
    position: absolute;
    bottom: 0;
    right: -0.1em;
    height: 91.6%;
    z-index: 1;
    pointer-events: none;
}


/* ======================== RESPONSIVE DESKTOP FIRST ======================== */
/* Escritorio */
@media(min-width: 1920px) {
    .logo .name { font-size: 1.3em; }

    .options,
    .logout {
        font-size: 1.5em;
        gap: 1em;
        padding-left: 0.8em;
    }

    .options .option,
    .logout .option { gap: 0.5em; }

    .option img { width: 20px; }

    .option .fa-plane-departure { font-size: 0.8em; }

    .option .fa-arrow-right-from-bracket { font-size: 0.9em; }

    .content-container { padding: 2em 2.5em 2em 3em; }

    .container { padding: 2em 2.5em; }

    .content { margin-top: 3em; }

    .titles .title { font-size: 3.6em; }

    .titles .subtitle { font-size: 1.5em; }

    .cards { gap: 2.5em; }
    
    .card-text p { font-size: 1em; }

    .card-text .rejected-number,
    .card-text .approved-number,
    .card-text .pending-number { font-size: 2.5em; }

    .graph-back.status .graph-wrapper { padding: 1.5em 0; }

    .graph-back.status .graph-wrapper p,
    .graph-back.total .graph-wrapper p { font-size: 1.3em; }

    .chartst-container { gap: 0.7em; }

    .chartst-container canvas { max-width: 65% !important; }

    .prev.status-button,
    .next.status-button {
        width: 1.5em;
        height: 1.5em;
    }

    .prev.status-button i,
    .next.status-button i { font-size: 1em; }

    .center-text .year { font-size: 1.8em; }

    .center-text .month { font-size: 1em; }

    .legend-item { font-size: 1.2em; }

    .color-dot { 
        width: 21px;
        height: 21px; 
    }

    .graph-back.requests .graph-wrapper,
    .graph-back.expenses .graph-wrapper { padding: 0.7em; }

    .graph-back.requests,
    .graph-back.expenses { font-size: 1.2em; }

    .graph-desc { margin-bottom: 0.6em; }

    .prev.request-button,
    .next.request-button,
    .prev.expense-button,
    .next.expense-button { 
        width: 1em;
        height: 1em; 
    }

    .prev.request-button i,
    .next.request-button i,
    .prev.expense-button i,
    .next.expense-button i { 
        font-size: 0.5em; 
        transform: translateY(5%);
    }

    .graph-back.total .graph-wrapper p { line-height: 1.5em; }

    .prev.total-button,
    .next.total-button {
        width: 1.3em;
        height: 1.3em;
    }

    .prev.total-button i,
    .next.total-button i { font-size: 0.8em; }

    .graph-back.total .graph-wrapper .total-money { 
        font-size: 3.3em; 
        margin-top: 0;
    }

    .graph-back.total .graph-wrapper .graph-desc { margin-bottom: 0; }

    .agave { height: 99%; }
}

/* Ordenadores */
@media(min-width: 1025px) and (max-width: 1366px) and (max-resolution: 1.5dppx) {
    .options,
    .logout { 
        font-size: 1.2em; 
        gap: 0.6em;
    }

    .options .option,
    .logout .option { gap: 0.6em; }

    .option img { width: 17px; }

    .option .fa-plane-departure { font-size: 0.8em; }

    .content-container { padding: 1em 1.5em 1em 2.2em; }

    .content { gap: 1em; }

    .titles .title{ font-size: 3em; }

    .titles .subtitle { font-size: 1.1em; }

    .cards { gap: 1.8em; }

    .card-wrapper { width: 23%; }

    .card-text p { font-size: 0.9em; }

    .card-text .rejected-number,
    .card-text .approved-number,
    .card-text .pending-number { font-size: 2.3em; }

    .graph-back.status .graph-wrapper { padding: 1em 0; }

    .chartst-container { gap: 0.7em }

    .chartst-container canvas { max-width: 60% !important; }

    .graph-back.status .graph-wrapper p,
    .graph-back.total .graph-wrapper p { font-size: 1em; }

    .prev,
    .next { 
        width: 1.1em;
        height: 1.1em; 
    }

    .prev i,
    .next i { 
        font-size: 0.65em;
        transform: translate(-7%, 7%); 
    }

    .prev.status-button,
    .next.status-button {
        height: 1.2em;
        width: 1.2em;
    }

    .prev.status-button i,
    .next.status-button i { 
        font-size: 0.7em;
        transform: translateY(-5%); 
    }

    .prev.request-button i,
    .next.request-button i { transform: translateY(5%); }

    .center-text .year { font-size: 1.4em; }

    .center-text .month { font-size: 0.7em; }

    .legend-item { font-size: 0.9em; }

    .graph-back.requests,
    .graph-back.expenses { font-size: 0.8em; }

    .graph-back.total .graph-wrapper .total-money {
        font-size: 2.3em;
        margin-top: 0.1em;
    }

    .prev.total-button,
    .next.total-button {
        width: 1em;
        height: 1em;
    }

    .prev.total-button i,
    .next.total-button i { 
        font-size: 0.5em;
        transform: translateY(-5%); }

    .agave { height: 93%; }
}

/* Tabletas pequeñas / móviles grandes */
@media(max-width: 1024px) {

}

/* Móviles */
@media(max-width: 480px) {

}