/* Tabletas */
@media (min-width: 766px) and (max-width: 1024px) {
    html { background-color: var(--html-back); }

    body { height: -webkit-fill-available; }

    ::-webkit-scrollbar-thumb { background-color: transparent; }

    .option-bar {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 50%;
        height: 100vh;
        background: var(--option-bar);
        z-index: 999;
        padding: 110px 30px;
        transform: translateX(-100%);
        transition: transform 0.4s ease;
        overflow-y: auto;
        box-shadow: 4px 0 20px rgba(0, 0, 0, 0.4);
        visibility: visible;
    }

    .option-bar.active { transform: translateX(0); }

    .hamburger { display: block; }

    .hamburger.active { background-image: none; }

    .logo { 
        padding: 0; 
        width: 70%;
    }

    .logo .name { font-size: 1.1em; }

    .options,
    .logout { 
        font-size: 1.5em;
        gap: 1em; 
    }

    .options .option,
    .logout .option { 
        width: 90%;
        gap: 0.6em; 
    }

    .background { flex-direction: column; }

    .content-container {
        padding: 70px 5px 100px;
        height: 100vh; 
        margin-top: 1em;
        overflow-y: auto;
    }

    .container {
        border-radius: 22px;
        padding: 1.3em 1.1em 0.5em 1.1em;
        height: auto;;
    }

    .titles {
        width: 100%;
        text-align: center;
    }

    .content { margin-top: 3em; }

    .tab-header { 
        flex-direction: column-reverse; 
        gap: 1em;
    }

    .search { margin-left: auto; }

    .datepicker-wrapper { 
        top: 35%;
        width: 40%;
    }

    .dates { font-size: 0.9em; }
    
    .table-background { display: none; }

    .cards-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: var(--transparent-blue);
        border-radius: 0 20px 20px 20px;
        padding: 1.3em;
        gap: 1.5em;
    }

    .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: var(--transparent-blue);
        border-radius: 10px;
        padding: 1em 1.5em;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
        cursor: pointer;
    }

    .card.active { cursor: default; }

    .first-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    .card.active .first-info { 
        padding-bottom: 0.6em;
        border-bottom: 1px solid var(--tabs-hover); 
        box-shadow: 0 3px 10px -9px rgba(0, 0, 0, 0.7);
    }

    .complete-info {
        display: none;
        grid-template-columns: 50% 25% 25%;
        padding-top: 1em;
    }

    .card.active .complete-info { display: grid; }

    .info-mobile.second { 
        display: flex; 
        align-items: center;
        justify-content: space-between;
    }

    .st-mobile { 
        font-size: 0.85em;
        padding: 0.5em 1.3em; 
    }

    .first-column,
    .second-column,
    .third-column {
        display: flex;
        flex-direction: column;
        padding: 1em 0;
    }

    .first-column,
    .second-column { 
        border-right: 1.5px solid var(--tabs-hover); 
        gap: 1em;
    }

    .first-column { padding-right: 1em; }

    .info-mobile p { font-size: 1em; }

    .info-mobile .subt-mobile {
        font-size: 0.8em;
        font-weight: 700;
        color: var(--passport-gray);
    }

    .info-mobile .destiny,
    .info-mobile .amount-mobile { font-size: 1.4em; }

    .info-mobile.return { text-align: right; }

    .second-column,
    .third-column {
        justify-content: start;
        align-items: center;
    }

    .third-column { gap: 1.6em; }

    .second-column .info-mobile,
    .third-column .info-mobile { text-align: center; }

    .map-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 5em;
        overflow: hidden;
        padding-top: 0.5em;
    }

    .map-img img { 
        height: 100%;
        object-fit: cover;
    }

    .buttons-mobile {
        display: flex;
        justify-content: flex-end;
        align-items: end;
        height: 100%;
        width: 100%;
        gap: 0.7em;
        color: var(--icons);
        font-size: 1.5em;
    }

    .buttons-mobile i { cursor: pointer; }

    .tab-buttons { margin-top: 2em; }

    .agave-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 3em;
    }

    .agave-mobile img { width: 70px; }
}